<div
  class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-20 my-10 max-w-300 grid-auto-flow"
>
  <img
    class="grayscale"
    src="https://autobahnconsultants.com/wp-content/uploads/2022/04/Autobahn_LOGO_2021_dark.png"
  />
  <img
    class="grayscale"
    src="https://images.squarespace-cdn.com/content/5dc8a87edb678a2362a9faad/1573431774562-6EYIFPBVZE09IN92Y4LT/Wensing+Group+Logo.png?content-type=image%2Fpng"
  />
  <img
    class="grayscale"
    src="https://www.androdonovan.com/wp-content/uploads/logo-AD-new.png"
  />
  <img
    class="grayscale"
    src="https://images.squarespace-cdn.com/content/v1/62f69f67e93b786eb5b60e83/076f8c90-97c9-44e9-8021-5421aced275e/LOGO+6.png?format=150w"
  />
  <img
    class="grayscale"
    src="https://warrenwhitney.com/wp-content/uploads/2022/05/Warrren-Whitney-Making-Potential-happen.png"
  />
  <img
    class="grayscale w-30"
    src="https://www.id8strategies.com/wp-content/uploads/2022/02/cropped-id8-square-logo.png"
  />
  <img
    class="grayscale"
    src="https://www.californiaclosets.com/wp-content/themes/closets/img/cc-logo-2019.png"
  />
</div>
