<div
  class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-20 my-10 max-w-300 grid-auto-flow mx-10 md:mx-5"
>
  <img class="grayscale" src="/member-logos/angela-momney-consulting.png" />
  <img class="grayscale" src="/member-logos/crafted-coach.png" />
  <img class="grayscale" src="/member-logos/do-the-thing.jpg" />
  <img class="grayscale" src="/member-logos/happy-cinnamon.jpg" />
  <img class="grayscale" src="/member-logos/id8-strategies.png" />
  <img class="grayscale" src="/member-logos/rise.png" />
  <img class="grayscale" src="/member-logos/synergy-works.PNG" />
  <img class="grayscale" src="/member-logos/the-change-agency.png" />
  <img class="grayscale" src="/member-logos/the-wensing-group.png" />
  <img class="grayscale" src="/member-logos/vital-transformations.png" />
  <img class="grayscale" src="/member-logos/where-younique-happens.jpg" />
</div>
