---
import MissionBackground from "../assets/dark-bg-mission-people.jpg";
---

<div
  class="bg-gray-800 w-full px-12 py-20 lg:px-45 lg:py-30 bg-[url(../assets/mission-people.jpg)] bg-cover"
>
  <p class="text-3xl lg:text-4xl text-white text-center solway-medium pb-5">
    1 billion people in peer groups by 2053
  </p>
  <p class="text-white text-center leading-8 manrope-light">
    Our mission is to support 1 billion people in peer groups by 2053 because we
    believe peer groups have the transformative power to provide every person
    with a place to learn and grow in a supportive community. Peer groups teach
    important skills for empathy, vulnerability, that enable meaningful
    connections and growth. The transformative power of our forum has the
    exponential potential to change how we see ourselves, each other, the world,
    and our place within it.

    <p class="text-white text-center leading-8 py-4 text-xl solway-light">
      <em>We support communities so communities can support the world.</em>
    </p>
  </p>
</div>
